#header{width: 100%;}/*设置满屏宽度*/
/*设置顶部栏效果*/
#info{height: 30px;background-color:#CCC;text-align:right;padding-top:5px;}
#info a:hover{color:#FFF;}
#nav-search{padding:5px 0 0 0;height: 30px;background-color:#9CF;}
#nav{height: 30px;background-color:#9CF;float: left;}
/*设置字体样式*/
#nav a{font-size:14px;display:block; float:left; margin-left:20px; margin-top:6px;color:#fff;letter-spacing:0.2em;
    text-align:center;text-decoration:none;}
#nav a:hover{color:#d00;
    background:#fff;}
/*搜索框*/
#search{height: 30px;background-color:#9CF;float: right;}
/*系统名称效果*/
#logo{width:100%;padding: 10px 0 0 0; text-align: center; height: 50px;background-color:#69C;font-size: 40px;font-family:"隶书";color:#FFC;}

#time{width:50%;height:100px;padding:20px 0 0 0;float:left;text-align:center;}

#button{width:40%;height:80px;padding:40px 0 0 0;float:left;text-align:left;}
#tabel{width:75%;height:250px;margin-left:150px;margin-top:150px;border:2px solid #666;text-align:center;}

#button2{width:100%;height:50px;padding:20px 0 0 0;text-align:center;float:left;margin:auto;}
#button2 input{margin-left:30px;}