@charset "utf-8";
/* CSS Document */
#top, #vi, #nav, #main, #bt {
    width: 779px;
    margin: 0px auto;
}

#top, #bt {
    background: #CCC;
}

#top {
    height: 18px;
    padding-top: 5px;
    text-align: right;
    color: #FFF;
}

#top_txt {
    margin-right: 5px;
}

#top_txt a {
    color: #009;
    text-decration: none;
}

#top_txt a:visited {
    color: #FFF;
}

#top_txt a:hover {
    color: #ddd;
}

#vi {
    height: 85px;
    background: #06F url(../img/vi.jpg) no-repeat;
}

#tt {
    margin-right: 120px;
    paddig-right: 40px;
    text-indent: -40px;
    text-algin: left;
    line-height: 3em;
    font-size: 40px;
    font-family: "隶书";
    font-weight: bold;
    d
}

#fra {
    border: 2px blue solid;
    width: 280px;
    height: 300px;
    position: fixed;
    left: 700px;
    top: 115px;
}

#div1 {
    width: 200px;
    height: 200px;
    position: fixed;
    right: 220px;
    top: 150px;
}
		
		
		
		
		